 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Welcome to my website!, <%= @resource.email %></h1>
<p>
  You have successfully signed up to example.com,
  your username is: <%= @resource.email %>.<br>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>