<div class = "comment">
  <p id="comment_content"><%= comment.comment %></p>
  <p id="comment_user"><%= comment.user.email %></p>
  <p id="comment_time">Posted at <%= time_ago_in_words(comment.created_at) %></p>
</div>