<% if user_signed_in? && current_user.likes?(@post) %>
  <a><%= link_to "Unlike", post_like_path(@post), method: :delete, remote: true, class: "btn btn-danger btn-sm" %></a>
<% else if user_signed_in?%>
  <a><%= link_to "Like", post_like_index_path(@post), method: :post, remote: true, class: "btn btn-success btn-sm" %></a>
  <% end %>
<% end %>

<%= @post.likes.count %>