.navbar{
  border-radius: 0px;
  .navbar-nav {
    a {
      color: white;
      padding: 5px;
      font-family: 'Lato', sans-serif;
    }
  }
}
#list{
  li {
    color: white;
    padding: 5px;
    font-family: 'Lato', sans-serif;
  }
}


