// Place all the styles related to the posts controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contentbox{
  width: 70%; /* Full width */
  height: 150px;
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

.posts {
  background: white;
  padding: 2em 5%;
  border-radius: .5em;

  .post {
    margin: 1em 0;
    padding: 1em 0;
    border-bottom: 1px solid #D1d1d1;
    p{
      display: inline;
    }
    .date {
      margin-top: .25rem;
      font-size: 0.9rem;
      color: #B2BAC2;
    }
    #button{
      color: white;
    }
  }
}

.post_content{
  background: white;
  padding: 2em 5%;
  border-radius: .5em;
  h1{
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;
  }
  .actual_post_content{
    background: slategrey;
    border-radius: .5em;
    margin: 1em 0;
    padding: 2em 5%;
    p{
      color: white;
      font-size: 0.9em;
      line-height: 1.5;
    }
  }
  .button-group{
    a{
      color: white;
    }
  }
}

.container{
  form input{
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px;
    height: 30px;
    margin-left: 0;
  }
  form label{
    margin-left: 0;
  }
  form button{
    margin-left: 0;
  }
}




